<datalist id="cur">
  <option *ngFor="let c of currencyList" [value]="c">
</datalist>

<div *ngIf="selectedCell; else noData">
  {{ selectedCell.cost }}
  {{ selectedCell.currency }}
</div>
<ng-template #noData>
  <div>no data</div>
</ng-template>

<div>
  {{ lastUpdated() }}
</div>

<button (click)="resetData()">
  Reset
</button>

<table>
  <tr *ngFor="let rowKey of row; trackBy: trackBySelf">
    <td *ngFor="let colKey of column; trackBy: trackBySelf">
      <div *ngIf="data.get(rowKey).get(colKey) as cellData">
        <app-cellver1
          [currencyList]="currencyList"
          [currency2fractionSize]="currency2fractionSize"
          [currency]="cellData.currency"
          (changeCurrency)="cellData.currency=$event"
          [cost]="cellData.cost"
          (changeCost)="cellData.cost=$event"
          (focus)="onFocusCell(cellData)"
        ></app-cellver1>
      </div>
    </td>
  </tr>
</table>